apiVersion: v1
kind: Service
metadata:
  name: {{ include "databend-query.fullname" . }}
  labels:
    {{- include "databend-query.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- range $key, $val := .Values.service.ports }}
    - port: {{ $val }}
      targetPort: {{ $key}}
      protocol: TCP
      name: {{ $key }}
    {{- end }}
  selector:
    {{- include "databend-query.selectorLabels" . | nindent 4 }}
